click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
Flask==1.1.2
importlib-metadata==2.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pathlib2==2.3.5
pycoin==0.90.20201031
pycrypto==2.6.1
pycryptodome==3.10.1
PyMySQL==0.10.1
scandir==1.10.0
six==1.15.0
SQLAlchemy==1.4.9
uWSGI==2.0.19.1
Werkzeug==1.0.1
zipp==1.2.0
